@import './vars.scss';

@mixin hoverButton {
    background-color: $green;
    color: $textColor;
}
@mixin form {
    height: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}