@import '../../../sass/vars.scss';
@import '../../../sass/mixins.scss';

.button {
    min-width: 100px;
    height: 50px;
    padding: 5px;
    color: $green;
    background-color: $itemsColor;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        @include hoverButton;
    }
}
