.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0px 20px;
    border-bottom: 3px solid #56BE5F;
    background-color: #444444;
}
.links_block {
    display: flex;
    justify-content: space-between;
}