@import '../../../sass/vars.scss';

.input {
    height: 40px;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: $itemsColor;
    color: $textColor;
    font-size: 20px;

    &::placeholder {
        color: $placeholderColor;
    }
}